.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  /* text-align: center; */
  padding: 40px 20px;
}

.steps-action {
  margin-top: 24px;
}

.ant-btn-success {
  color: #fff;
  background-color: #37ba00;
  border-color: #37ba00;
}

.ant-btn-success:hover {
  color: #fff;
  background-color: #4de21f;
  border-color: #4de21f;
}

.ant-card {
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.ant-card:hover {
  /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.ant-card .ant-steps-item-process .ant-steps-item-icon {
  background: rgb(136, 136, 136);
  border-color: #6d6d6d;
  font-weight: 200;
}
