.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.steps-content {
  margin-top: 16px;
  border: 1px dashed #e9e9e9;
  border-radius: 6px;
  background-color: #fafafa;
  min-height: 200px;
  /* text-align: center; */
  padding: 80px 20px;
}

.steps-action {
  margin-top: 24px;
}

.ant-btn-success {
  color: #fff;
  background-color: #37ba00;
  border-color: #37ba00;
}

.ant-btn-success:hover {
  color: #fff;
  background-color: #4de21f;
  border-color: #4de21f;
}
